.titulo{
	line-height: 42px;
	color: white;
	font-size: 40px;
	font-family: 'Indivisa display Sans heavy', Verdana, sans-serif;
}

.alinear_texto {
	display: inline;
	vertical-align: middle;
}

.margen_titulo {
	margin-left: 45% !important;
}

.cuerpo{
	margin-top: 20px;
	color: white;
	font-size: 20px;
	height: 250px;
	margin-left: 45%;
	font-family: 'Indivisa Text Sans Regular', Verdana, sans-serif;
}

.imagen {
	vertical-align: middle;
	float: left;
}

.fondo {
	background-image: url(../images/Prontuario_fondo.jpg);
}

.ventana {
	max-width: 900px;
	width: auto !important;
}

.cuadro{
	font-size: 24px;
	font-family: 'Indivisa Text Sans Regular', Verdana, sans-serif;
}

@media screen and (max-width: 1055px){
	.item a {
		padding-top: 28px !important;
	}
}